<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Juraj Gijsbert van Rietbergen</h1>
        </div>
        <div class="description">
            <p>
                Hi, I'm Juraj. I'm a <span class="text-highlight">Software Developer</span> with experience in Rust, Java, C#, JavaScript and many other technologies. In my free time I enjoy tinkering with the newest technologies and trying them out in home projects.
            </p>
            <div class="socials">
                <a href="mailto:jurajriet@gmail.com">
                    <img src="/static/icons/email.svg" alt="Email Icon" class="social-icon">
                </a>
                <a href="https://github.com/JurajvRietbergen" target="_blank">
                    <img src="/static/icons/github.svg" alt="Github Icon" class="social-icon">
                </a>
                <a href="https://www.linkedin.com/in/juraj-van-rietbergen-576585200/" target="_blank">
                    <img src="/static/icons/linkedin.svg" alt="LinkedIn Icon" class="social-icon">
                </a>
            </div>
        </div>
        <div class="skills">
            <h1>Skills</h1>
            <div class="skill-icons">
                <div class="icon-wrapper" data-skill="Rust, TypeScript, C#, Java, Nix">
                    <img src="/static/icons/rust.svg" alt="Rust Icon" class="icon">
                </div>
                <div class="icon-wrapper" data-skill="NixOS, Linux, Git, Windows">
                    <img src="/static/icons/nixos.svg" alt="NixOS Icon" class="icon">
                </div>
                <div class="icon-wrapper" data-skill="Docker, Podman, Libvirtd">
                    <img src="/static/icons/docker.svg" alt="Docker Icon" class="icon">
                </div>
            </div>
        </div>
        <div class="timeline-div">
            <h1>Work Experience</h1>
            <div class="timeline">
                <div class="timeline-component">
                    <div class="timeline-circle"></div>
                    <div class="timeline-content">
                        <h3>DevOps Engineer at All Tape Supplies (2023 - Present)</h3>
                        <p>Manage servers, create CI/CD pipelines, maintain infrastructure with NixOS, and support development teams in optimizing workflows and transitions to Rust applications.</p>
                    </div>
                </div>
                <div class="timeline-component">
                    <div class="timeline-circle"></div>
                    <div class="timeline-content">
                        <h3>Software Developer at All Tape Supplies (2021 - 2023)</h3>
                        <p>Developed logistics systems in Nuxt2 and Nuxt3, integrated SAP Service Layer, and implemented efficient solutions for warehouse management.</p>
                    </div>
                </div>
                <div class="timeline-component">
                    <div class="timeline-circle"></div>
                    <div class="timeline-content">
                        <h3>Software Engineer at Infoart, Zagreb (2020 - 2021)</h3>
                        <p>Worked on Java-based Administration Software for Croatian clients, assisted in building a Vue.js version, and significantly improved software performance.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
